@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'bootstrap/dist/css/bootstrap-reboot.min.css';
@import 'bootstrap/dist/css/bootstrap-grid.min.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
